{% extends "layout.html" %}

{% block content %}
	<!-- Script --> 
	<script>$(function(){
		$("#about").css({"font-weight": "bold"});
            });
	</script>

<!-- Text --> 
</br><h1 align='center' class='titlehead'>About</h1></br>

<div class="aboutForm">

<p>According to <a href='https://www.esma.europa.eu/regulation/trading/short-selling'>European regulations</a>, short interest positions of at least 0.5% (of share capital) have to be published on the websites of the respective authorities. Short positions of at least 0.2% have to be reported to the authorities, but <i>do not have to be published</i>.This means that NOT all short interest notifications are publicly available. The short interest as seen on this website is underestimating the actual short interest and should thus be considered a <u><i>minimum</i></u> short interest. A comparison with the average short positions mentioned in a recent <a href="https://www.esma.europa.eu/sites/default/files/library/esma70-145-127_consultation_paper_on_the_evaluation_of_certain_aspects_of_the_ssr.pdf">ESMA consultation paper</a> (p35-39) suggests that only around 60% of the actual short interest can be derived from the public notifications.
</p>

<p>Two rules are implemented to calculate the total short interest by company. As notifications are not (required to be) published when they are below 0.5%, the first rule is that short positions of asset managers in companies are set to 0% whenever the publicly reported position is below 0.5%. The second rule is that short positions older than one year are also set to 0%, to avoid keeping (very) old short positions into the calculation. </p>

</div>



</br></br></br></br></br></br></br></br></br></br>

{% endblock %}



