{% extends "layout.html" %}

{% block content %}
	
	<script>$(function(){
		$("#homepage").css({"font-weight": "bold"});
		});
	</script>
		
	<!-- Text --> 
	</br>
	<h1 align='center' class='titlehead'>Graphs & Active Notifications</h1>

	<!-- Search Bar -->
	</br>
	<form action="{{url_for('HomePage')}}" method='POST'>
	<input type='text' class="search-bar" name='name' placeholder='Search Companies...' onchange="this.form.submit()">
	</form>	
	</br>
		
	<!-- List all issuers  -->

	<!-- Graphs --> 
	<div style="text-align:center;">
	{% if graphs != [] %}
		<p style="text-align:center; font-style:italic;"> (Click on results to see graph and active notifications.) </p></br>
		{% for g in graphs %}
			<div class="block"><u> {{g[0]}}</u>: {{'%0.2f'| format(g[1]|float)}}% </div>
			
			<div class="showhide">
			</br>
	   		<img src="/static/graphs/{{g[2]}}" alt="{{g[0]}}" width="500">
	   		</br></br>

			<!-- Table -->
			<div class="table-responsive">
	 		<table class="table table-condensed table-bordered table-hover">
	  		<thead class="thead-light">
	 		    <tr>
				<th>Asset Manager</th>
				<th>Company</th>
				<th>ISIN</th>
				<th>Short Interest</th>
				<th>Date</th>
	  		    </tr>
			</thead>
	  		
			<!-- Data on HTML --> 
			<tbody>			
			{% if notifs_dict[g[3]] != []  %}
			   {% for d in notifs_dict[g[3]] %}
				<tr><td>{{d[0]}}</td>
				<td>{{d[1]}}</td>
				<td>{{d[2]}}</td>
				<td>{{'%0.2f'| format(d[3]|float)}}%</td>
				<td>{{d[4]}}</td></tr>
			   {% endfor %}
 			{% else %}
				<tr><td> - </td>
				<td> - </td>
				<td> - </td>
				<td> - </td>
				<td> - </td></tr>
			{% endif %}
			</tbody>
			</table>
			</div>
			</div>	</br>
		{% endfor %}
	{% else %}

		<p style="text-align:center">No issuers found. Try again!</p>
		</br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	{% endif %}
	</br></br></br>
	</div>

{% endblock %}

