{% extends "layout.html" %}

{% block content %}
	
	<script>$(function(){
		$("#homepage").css({"background-color": "#426779","color": "white","font-weight": "bold", "border-radius": "35px"});
		});
	</script>
		
	<!-- Text --> 
	</br>
	<h1 align='center' class='titlehead'>Graphs & Active Notifications</h1>

	<!-- Search Bar -->
	</br>
	<form action="{{url_for('HomePage')}}" method='POST' style='text-align:center'>
	<input type='text' id="myInputLarge" size='40' name='name' placeholder='Search for Issuer ...'>
	</form>	
	
		
	<!-- List all issuers  -->

	<!-- Graphs --> 
	<div style="text-align:center;">
	{% if graphs != [] %}
		<p style="text-align:center; font-style:italic;"> (Click on results to see graph and active notifications.) </p>
		{% for g in graphs %}
			<div class="block"><p><u> {{g[0]}}</u>: {{g[1]}} % </p></div>
			<div class="showhide">
			</br>
	   		<img src="/static/graphs/{{g[2]}}" alt="{{g[0]}}" width="500">
	   		</br></br>

			<!-- Table -->
			<table id="myTable" >

	 		<tr class="heading">
			<th style="width:25%;">Holder</th>
			<th style="width:15%;">Issuer</th>
			<th style="width:10%;">ISIN</th>
			<th style="width:8%;">Short Interest</th>
			<th style="width:10%;">Position Date</th>
	  		</tr>
	  
			<!-- Data on HTML --> 
			{% if notifs_dict[g[3]] != []  %}
			   {% for d in notifs_dict[g[3]] %}
				<tr><td>{{d[0]}}</td>
				<td>{{d[1]}}</td>
				<td>{{d[2]}}</td>
				<td>{{d[3]}}</td>
				<td>{{d[4]}}</td></tr>
			   {% endfor %}
 			{% else %}
				<tr><td> - </td>
				<td> - </td>
				<td> - </td>
				<td> - </td>
				<td> - </td></tr>
			{% endif %}

			</table>
			</div>	</br>
		{% endfor %}
	{% else %}

		<p style="text-align:center"> No issuers found. Try again!</p>
		</br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	{% endif %}

	</div></br></br></br></br>

{% endblock %}

