{% extends "layout.html" %}

	{% block content %}
	
	<script>$(function(){
		$("#companies").css({"font-weight": "bold"});
            });
	</script>
	
	<!-- Text -->
	</br>
	<h1 align='center' class='titlehead'>Interactive Graph</h1>


	
	<!-- Search Bar -->
	</br>
	<form action="{{url_for('Interactive')}}" method='POST'>
	<input type='text' class="search-bar" name='name' placeholder='Search for Issuer ...'  onchange="this.form.submit()">
	</form>	
	
		
	<!-- List all issuers  -->

	<!-- Graphs --> 
	<div class="center">

	{% if graphs != [] %}
		{% for g in graphs %}
			</br>
			<div class="block"><u>{{g[0]}}</u>: {{'%0.2f'| format(g[1]|float)}}%</div>
			</br>
			<!-- Interactive graph -->
			<p>
			<embed type="text/html" src="/static/bokeh/{{g[2]}}" width="825px" height="525px">
			</p>
			</div> 
			</br>
		{% endfor %}
	{% else %}
		</br>
		<p class="center"><i> (Search for exact name. Returns only one result.)</i></p>
		</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	{% endif %}

	</div>

{% endblock %}
