<!DOCTYPE HTML>
<!-- Copyright 2017 DVH Inc. All Rights Reserved.  -->
<html>
<head>
	<meta charset="utf-8">
	<meta name="language" content="en">
	<meta name="description" content="Short Interest Data Euronext, European Short Interest Ratio, Short Selling Data">
	<meta name="keywords" content="short interest, euronext, short position, europe, short interest ratio, short selling, open interest, short squeeze, short, shorts, stocks, equities">
	<meta name="author" content="DVH">
	<meta name="revisit-after" content="1 day">
	
	<title> European Short Interest </title>
	<link rel='stylesheet' type='text/css' href="{{url_for('static', filename='styles.css')}}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<!-- Header -->
	<!-- <header><div id="header"><h1 class="header"><b> European Short Interest </b></h1></div></header>-->
	
	<!-- Navigation Bar -->
	<ul class='topnav'>
	<li><a href="{{url_for('HomePage')}}"><h2>European Short Interest</h2></a></li>
	<li><a class='navbutton' id='notifications' href="{{url_for('Notifications')}}">Notifications</a></li>
	<li><a class='navbutton' id='interactive' href="{{url_for('Interactive')}}"><u>Interactive Graph</u></a></li>
	<li><a class='navbutton' id='stats' href="{{url_for('Stats')}}">Stats</a></li>
	<li><a class='navbutton' id='about' href="{{url_for('About')}}">About</a></li>
	<li><a class='navbutton' id='contact' href="{{url_for('Contact')}}">Contact</a></li>
	</ul>

	<!-- Content -->
	{% block content %}
	{% endblock %}
	
	<!-- Footer -->
	</br></br>
	<footer><div id="footer">
	<p>Nothing on this website is to be taken as investment advice. This website and all of its contents are for entertainment purposes only.</p>
	</div></footer>
	
<!-- JavaScript scripts -->
<script>
// Toggle graphs
var check = "RandomValue";
$(".block").click(function(){
    if ($(this).text() == check) {
	$(this).next(".showhide").hide(250);
	check = "RandomValue"
    } else {
        $("div .showhide").hide(250);
        $(this).next(".showhide").show(500);
	check = $(this).text();
    };
});
// Enlarge images
$(".enlargeIMG").click(function(){
    if ($(this).height() < 400 ) {
	$(this).css({"height":"600px", "width":"1000px"}); 
    } else {
	$(this).css({"height":"350px", "width":"600px"}); 
    };
});

</script>
</body>
</html>
