<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Short Interest Data Euronext, European Short Interest Ratio, Short Selling Data">
    <meta name="author" content="DVH">
    <link rel="icon" href="/static/graphicon.png">

    <title>European Short Interest</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/formatting.css" rel="stylesheet">
  </head>

  <body>
    <!-- Navbar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      &emsp;&emsp;<a class="title" href="{{url_for('HomePage')}}"><img src="/static/graphicon.png"/></a>&emsp;&emsp;<h2 class="my-0 mr-md-auto font-weight-bold">European Short Interest</h2>&emsp;&emsp;
      <nav class="my-2 my-md-0 mr-md-3">
	<a class="p-2 text-dark" id='homepage' href="{{url_for('HomePage')}}">Home</a>&emsp;&emsp;
	<a class="p-2 text-dark" id='notifications' href="{{url_for('Notifications')}}">Notifications</a>&emsp;&emsp;
        <a class="p-2 text-dark" id='companies' href="{{url_for('Interactive')}}">Companies</a>&emsp;&emsp;
        <!--<a class="p-2 text-dark" id='assetmanagers' href="{{url_for('Interactive')}}">Asset Managers</a>&emsp;&emsp;-->
	<a class="p-2 text-dark" id='stats' href="{{url_for('Stats')}}">Stats</a>&emsp;&emsp;
        <a class="p-2 text-dark" id='about' href="{{url_for('About')}}">About</a>&emsp;&emsp;
        <a class="p-2 text-dark" id='contact' href="{{url_for('Contact')}}">Contact</a>&emsp;&emsp;
      </nav>&emsp;&emsp;&emsp;&emsp;&emsp;
    </div>

	<!-- JS Scripts -->
	<script src="/static/jquery-3.2.1.slim.min.js"></script>

   <!-- Body -->
    <div class="container"> 

	<!-- Bootstrap Info Alert -->
	<div class="alert alert-secondary bsalert" role="alert">
	<button type="button" class="close" data-dismiss="alert" onclick="">x</button>
	<strong> Notice: </strong> The European Short Interest is based on the daily short positions reporting from the respective authorities (<a href="https://www.fsma.be/nl/file/disclosure-net-short-positions-fsmaxlsx">FSMA</a>, <a href="https://www.afm.nl/nl-nl/professionals/registers/meldingenregisters/netto-shortposities-actueel">AFM</a>, <a href="http://www.amf-france.org/en_US/Acteurs-et-produits/Marches-financiers-et-infrastructures/Ventes-a-decouvert/Consolidation-des-publications.html">AMF</a> and <a href="http://web3.cmvm.pt/english/sdi/emitentes/shortselling/index.cfm">CMVM</a>). The information on this website is provided for information purposes only. There can be no warranty whatsoever as to the accuracy of the information on this site and it should not be relied upon in any way. It does not constitute an offer or recommendation to buy or sell any securities or other investment.</div>

	<!-- Content -->
	{% block content %}
	{% endblock %}

      </div>

    <!-- Footer -->
      </br></br></br></br></br>
      <footer class="footer">
	<div class="navbar navbar-fixed-bottom"></div>
	<p>If you have any feedback, comments or questions, please let us know <a href="{{url_for('Contact')}}">here</a>!</p>
	<p>© 2018. All rights reserved. <a href="/terms">Terms of Use</a></p>
	<br></br>
      </footer>
	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="/static/jquery-3.2.1.slim.min.js"></script> -->
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/holder.min.js"></script>


<!-- JavaScript scripts -->
<script>
// Toggle graphs
var check = "RandomValue";
$(".block").click(function(){
    if ($(this).text() == check) {
	$(this).next(".showhide").hide(250);
	check = "RandomValue"
    } else {
        $("div .showhide").hide(250);
        $(this).next(".showhide").show(500);
	check = $(this).text();
    };
});

		

</script>
  </body>
</html>

