{% extends "layout.html" %}

{% block content %}

	<script>$(function(){
		$("#{{ selection }}").prop('selected', "selected");
		$("#myMic").css("width", "200px");
		$("#notifications").css({"font-weight": "bold"});
            });
	</script>
		

	<!-- Text -->
	</br>
	<h1 align='center' class='titlehead'>Short Interest Notifications</h1>
	</br>

	<!-- Search Bar -->
	<form action="{{url_for('Notifications')}}" method='POST'>
	<input type='text' class="search-bar" name='name' placeholder='Search Notifications...'  onchange="this.form.submit()">   	
	</br></br>
	
	<select class="dropdown-mics" name='myMic' id='myMic' onchange="this.form.submit()">
	    {% for m in mics %}
              <option id="{{ m.name[0] }}" value="{{ m.name[0] }}">{{ m.name[1] }}</option>
            {% endfor %}
	</select>
	</form>

	</br>

	<!-- Table -->
	<div class="table-responsive">
	 <table class="table table-condensed table-bordered table-hover">
	  <thead class="thead-light">
	    <tr>
		<th>Asset Manager</th>
		<th>Company</th>
		<th>ISIN</th>
		<th>Short Interest</th>
		<th>Date</th>
		<th>MIC</th>
	   </tr>
	  </thead>
	
	  <tbody>
	     <!-- Data on HTML --> 
	        {% for d in data %}
		<tr><td>{{d[0]}}</td>
		<td>{{d[1]}}</td>
		<td>{{d[2]}}</td>
		<td>{{'%0.2f'| format(d[3]|float)}}%</td>
		<td>{{d[4]}}</td>
		<td>{{d[5]}}</td></tr>
	        {% endfor %}
	  <tbody>
	 </table>
	</div>
	

{% endblock %}
