{% extends "layout.html" %}

{% block content %}
	
	<script>$(function(){
		$("#stats").css({"font-weight": "bold"});
            });
	</script>
		
	<!-- Text --> 
	</br>
	<h1 align='center' class='titlehead'> Current Highest Short Interest </h1>
	<p align='center'><u><a  href="{{url_for('Stats')}}">Back to overview</a></u></p>


	<!-- By Market -->
	<form method='POST' style='text-align:center' > Market:
	<select style="height:30px; width:210px;" name='myMic' id='myMic' onchange="this.form.submit()">
	    {% for m in mics %}
              <option id="{{ m.name[0] }}" value="{{ m.name[0] }}">{{ m.name[1] }}</option>
            {% endfor %}
	</select>
	</form>
	</br>


	<!-- List all issuers  -->
	<div style="text-align:center;">
	{% for g in graphs %}
		<div class="block"><u> {{g[0]}}</u>: {{'%0.2f'| format(g[1]|float)}}% </br></div>
		<div class="showhide">
		</br>
		<img src="/static/graphs/{{g[2]}}" alt="{{g[0]}}" width="500">
	   	</br></br>

		<!-- Table -->
		<div class="table-responsive">
 		<table class="table table-condensed table-bordered table-hover">
  		<thead class="thead-light">
 		    <tr>
			<th>Asset Manager</th>
			<th>Company</th>
			<th>ISIN</th>
			<th>Short Interest</th>
			<th>Date</th>
  		    </tr>
		</thead>
	  
		<!-- Data on HTML --> 
		<tbody>	
		{% if notifs_dict[g[3]] != []  %}
			{% for d in notifs_dict[g[3]] %}
				<tr><td>{{d[0]}}</td>
				<td>{{d[1]}}</td>
				<td>{{d[2]}}</td>
				<td>{{'%0.2f'| format(d[3]|float)}}%</td>
				<td>{{d[4]}}</td></tr>
			{% endfor %}
 		{% else %}
			<tr><td> - </td>
			<td> - </td>
			<td> - </td>
			<td> - </td>
			<td> - </td></tr>
		{% endif %}
		</tbody>	
		</table>
		</div></div>
		</br>	
	{% endfor %}

	</br></br></br>	</div>

{% endblock %}
