{% extends "layout.html" %}

{% block content %}

<script>$(function(){
	$("#stats").css({"background-color": "#426779","color": "white","font-weight": "bold", "border-radius": "35px"});
});
</script>

	
<!-- Text --> 
</br>
<h1 align='center' class='titlehead'> Short Interest Statistics </h1>
<p align='center'> As of {{date}}. </p>
</br>
	
<!-- Links --> 
<div class="block" style="width:500px;"><p><u><a href="{{url_for('StatsCurrentHighest')}}">Current Highest Short Interest </a></u></p></div></br> 
<div class="block" style="width:500px;"><p><u><a href="{{url_for('StatsAllTimeHighest')}}">All Time Highest Short Interest</a></u></p></div></br> 
<div class="block" style="width:500px;"><p><u><a href="{{url_for('StatsRisingOneMonth')}}">Strongest Rising Short Interest (One Month)</a></u></p></div></br> 
<div class="block" style="width:500px;"><p><u><a href="{{url_for('StatsRisingThreeMonths')}}">Strongest Rising Short Interest (Three Months)</a></u></p></div></br> 
<div class="block" style="width:500px;"><p><u><a href="{{url_for('StatsDecliningOneMonth')}}">Strongest Declining Short Interest (One Month)</a></u></p></div></br> 
<div class="block" style="width:500px;"><p><u><a href="{{url_for('StatsDecliningThreeMonths')}}">Strongest Declining Short Interest (Three Months)</a></u></p></div></br> 

</br></br></br></br>

{% endblock %}
