{% extends "layout.html" %}

{% block content %}

	<script>$(function(){
		$("#stats").css({"font-weight": "bold"});
            });
	</script>

	
<!-- Text --> 
</br>
<h1 align='center' class='titlehead'> Short Interest Statistics </h1>
<p align='center'> As of {{date}}. </p>
</br>
	
<!-- Links --> 
<div class="block statslink"><u><a href="{{url_for('StatsCurrentHighest')}}">Current Highest Short Interest </a></u></div></br> 
<div class="block statslink"><u><a href="{{url_for('StatsAllTimeHighest')}}">All Time Highest Short Interest</a></u></div></br> 
<div class="block statslink"><u><a href="{{url_for('StatsRisingOneMonth')}}">Strongest Rising Short Interest (One Month)</a></u></div></br> 
<div class="block statslink"><u><a href="{{url_for('StatsRisingThreeMonths')}}">Strongest Rising Short Interest (Three Months)</a></u></div></br> 
<div class="block statslink"><u><a href="{{url_for('StatsDecliningOneMonth')}}">Strongest Declining Short Interest (One Month)</a></u></div></br> 
<div class="block statslink"><u><a href="{{url_for('StatsDecliningThreeMonths')}}">Strongest Declining Short Interest (Three Months)</a></u></div></br> 

</br></br></br></br>

{% endblock %}
